.sectiona{
    background-image: url(./images/1section\ bc.jpg);
    background-repeat: no-repeat;
    background-size: cover;      
    width: 100%;
    height: 600px;
    padding: 0;
    padding-bottom: 200px;
     

}