.sectiona{
    background-image: url(./images/1section\ bc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;      
    height: 100vh;
    width: 100%;
    padding: 0;
    padding-bottom: 200px;
    
     

}
.backgg {
    background-image: url(./images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    z-index: 0;
}

.backgg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: -1;
}


